/.nmlcache
/backups
cnsplat.nml
cnsplatform.grf
/vox/*.png
devnotes.txt
/__pycache__
#ignore all stn files in src folder and all 32bpp png files in gfx folder
gfx/*32bpp.png
env
generated/*.pnml

cnsps.pnml
cnsps.nml

updated_list.txt